:host {
  text-align: center;
}

.converter {
  box-sizing: border-box;

  &__form {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 30px;
    text-transform: capitalize;
  }

  &__amount {
    padding: 10px;

    border: none;
    border-bottom: 1px solid gray;
    background-color: rgb(235, 235, 235);
  }

  &__currency {
    padding: 9px;

    border: none;
    border-bottom: 1px solid gray;
    background-color: rgb(235, 235, 235);

    &:hover {
      cursor: pointer;
    }
  }

  &__result {
    color: blue;
  }

  &__swap {
    font-size: 20px;
    color: white;
    background-color: blue;

    width: max-content;
    padding: 10px 20px;

    border: none;
    transition: box-shadow 0.3s;

    &:hover {
      cursor: pointer;
      box-shadow: 3px 5px 8px 0px rgba(50, 50, 50, 0.75);
    }

    &:active {
      box-shadow: inset 3px 5px 8px 0px rgba(50, 50, 50, 0.75);
    }
  }
}
