<main class="container converter">
  <h2 class="converter__title">Currency converter</h2>
  <form class="converter__form">
    <section>
      <input
        class="converter__amount"
        type="number"
        min="0"
        placeholder={{from}}
        [(ngModel)]="amountFrom"
        (input)="convertFrom()"
        name="amountFrom"
      >

      <select
        class="converter__currency"
        [(ngModel)]="from"
        (change)="loadRates()"
        name="from"
      >
        <option
          *ngFor="let currency of allCurrencies"
          [value]="currency"
          name="currency"
        >
          {{currency}}
        </option>
      </select>
    </section>

    <button
      class="converter__swap"
      (click)="swap()"
      name="swap"
    >
      &#8646;
    </button>

    <section>
      <input
        class="converter__amount"
        type="number"
        min="0"
        placeholder={{to}}
        [(ngModel)]="amountTo"
        (input)="convertTo()"
        name="amountTo"
      >

      <select
        class="converter__currency"
        [(ngModel)]="to"
        (change)="loadRates()"
        name="to"
      >
        <option
          *ngFor="let currency of allCurrencies"
          [value]="currency"
          name="currency"
        >
          {{currency}}
        </option>
      </select>
    </section>
  </form>

  <p *ngIf="rates">
    Course {{from}} to {{to}}:
    <b class="converter__result">
      {{rates[this.to].toFixed(3)}}
    </b>
  </p>
  <div>{{message}}</div>
</main>
